.container form{
    margin-top: 3rem;
}

form{
    position: absolute;
    top: 20vh;
    right: -3%;
    width: 90vh;
}

form input:focus{
    background-color: transparent;
    box-shadow: none !important;
}

.btn{
    background-color: red;
}

.containerWeather{
    position: relative;
    left: 150vh;
    top: -50vh;
}

form input[name = "capital"] {
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid red;
    border-radius: 1px;
}
form input[placeholder = "Entrer le nom d'une ville"] {
    background-color: transparent;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: lighter;
}

fieldset.scheduler-border {
    background-color: #120334;
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    position: relative;
    right: 35%;
    top: 10vh;
    height: 60vh;
    width: 80vh;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    position: relative;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
    left: 10%;
    top: 10vh;
    font-size: 40px !important;
    font-weight: bold !important;
    text-align: left !important;
}

.field{
    background-color: #120334;
    position: fixed;
    width: 45vh;
    height: 55vh;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
    text-align: center;
    border-radius: 15px;
    left: 59%;
    top: 12.7vh;
}

.fermer-field{
    position: absolute;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.fermer-field:hover{
    background-color: #FF4949;
    color: white;
}

