form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.btn{
    background-color: white;
    color: #000;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
}
.rows {
    display: flex;
    gap: 30px;
    width: 30%;
    margin: auto;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;

}
form input[name = "capital"] {
    color: white;
    border: none;
    border-radius: 5px;
}
form input[placeholder = "Enter City or Capital"] {
    color: black;
    font-size: 25px;
    text-align: center;
    font-style: normal;
    font-weight: bolder;
    text-transform: capitalize;
}



@media (max-width: 600px) {
    .rows {
        display: flex;
        gap: 30px;
        width: 50%;
        margin: auto;
    }

}

